.image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .image {
        width: 80px;
        height: 80px;
    }
}
